body {
    background-color: pink;
}

p {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }
  
#one {
    color: blueviolet;
}

#three {
    font-family: url("https://fonts.googleapis.com/css?family=VT323");
}

#family { 
    font family: url('https://fonts.googleapis.com/css?family=Montserrat')
}

a:hover {
    color: brown;
}

#four:focus {
    color: beige;
}